{% extends 'index.html' %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills">
                {% if request.user.hospital != Null %}
                    <a href="{% url 'cert_signature' %}" class="nav-link">Заказанные справки</a>
                {% endif %}
                <a href="{% url 'cert_order' %}" class="nav-link active">Справки</a>
                <a href="{% url 'account' %}" class="nav-link">Профиль</a>
            </div>
        </div>
        <div class="col-10">
            <form method="POST" class="card card-body">
                <h5 class="card-title">Закажите справку</h5>
                {% csrf_token %}
                {{ certificate_form }}
                <button type="submit" class="btn btn-primary btn-block mt-3 col-3 mx-auto">Заказать справку</button>
            </form>

            <div class="card mt-4">
                <div class="card-body">
                    <div>
                        <h5 class="float-left card-title">Ваши справки</h5>
{#                        <nav aria-label="Page navigation example" class="float-right">#}
{#                            <ul class="pagination pagination-sm card-text justify-content-end">#}
{#                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>#}
{#                            </ul>#}
{#                        </nav>#}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover card-text">
                            <thead class="thead-light text-center">
                            <tr>
                                <td class="align-middle">id</td>
                                <td class="align-middle">Название формы</td>
                                <td class="align-middle">Форма</td>
                                <td class="align-middle">Медицинское учереждение</td>
                                <td class="align-middle">Врач</td>
                                <td class="align-middle">Дата подачи</td>
                                <td class="align-middle">Дата выдачи</td>
                                <td class="align-middle">Статус</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for filed_certificate in filed_certificates %}
                                {% if filed_certificate.client == request.user %}
                                    <tr data-toggle="modal" data-target="#exampleModal{{ filed_certificate.id }}">
                                        <td class="align-middle text-right">{{ filed_certificate.id }}</td>
                                        <td class="align-middle">{{ filed_certificate.certificate_type.name }}</td>

                                        {% if filed_certificate.certificate_type.form == None %}
                                            <td class="align-middle text-center">-</td>
                                        {% else %}
                                            <td class="align-middle">{{ filed_certificate.certificate_type.form }}</td>
                                        {% endif %}

                                        <td class="align-middle">{{ filed_certificate.hospital }}</td>

                                        {% if filed_certificate.doctor == "-" %}
                                            <td class="align-middle text-center">-</td>
                                        {% else %}
                                            <td class="align-middle">{{ filed_certificate.doctor }}</td>
                                        {% endif %}

                                        <td class="align-middle">{{ filed_certificate.created_date }}</td>

                                        {% if filed_certificate.status == "confirmed" %}
                                            <td class="align-middle">{{ filed_certificate.executed_date }}</td>
                                            <td class="align-middle table-success text-center">Подтверждено</td>
                                        {% elif filed_certificate.status == "denied" %}
                                            <td class="align-middle">{{ filed_certificate.executed_date }}</td>
                                            <td class="align-middle table-danger text-center">Отказано</td>
                                        {% else %}
                                            <td class="align-middle text-center">-</td>
                                            <td class="align-middle table-secondary text-center">В обработке</td>
                                        {% endif %}

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{ filed_certificate.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Медицинская справка {{ filed_certificate.id }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="form-group row">
                                                            <label for="status" class="col-3 col-form-label">Статус:</label>
                                                            {% if filed_certificate.status == "confirmed" %}
                                                                <div class="col-9" id="status"><div class="alert alert-success mb-0">Подтверждено</div></div>
                                                            {% elif filed_certificate.status == "denied" %}
                                                                <div class="col-9" id="status"><div class="alert alert-danger mb-0">Отказано</div></div>
                                                            {% else %}
                                                                <div class="col-9" id="status"><div class="alert alert-secondary mb-0">В обработке</div></div>
                                                            {% endif %}
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="certificate_type.name" class="col-3 col-form-label">Тип справки (Название):</label>
                                                            <div class="col-9" id="certificate_type.name">{{ filed_certificate.certificate_type.name }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="certificate_type.form" class="col-3 col-form-label">Тип справки (Форма):</label>
                                                            <div class="col-9" id="certificate_type.form">{{ filed_certificate.certificate_type.form }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="hospital.name" class="col-3 col-form-label">Медицинская организация (Название):</label>
                                                            <div class="col-9" id="hospital.name">{{ filed_certificate.hospital.name }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="hospital.address" class="col-3 col-form-label">Медицинская организация (Адрес):</label>
                                                            <div class="col-9" id="hospital.address">{{ filed_certificate.hospital.address }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="client.username" class="col-3 col-form-label">Пациент:</label>
                                                            <div class="col-9" id="client.username">{{ filed_certificate.client.username }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="doctor" class="col-3 col-form-label">Врач:</label>
                                                            <div class="col-9" id="doctor">{{ filed_certificate.doctor }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="created_date" class="col-3 col-form-label">Дата подачи заявки:</label>
                                                            <div class="col-9" id="created_date">{{ filed_certificate.created_date }}</div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="executed_date" class="col-3 col-form-label">Дата выдачи справки:</label>
                                                            <div class="col-9" id="executed_date">{{ filed_certificate.executed_date }}</div>
                                                        </div>

                                                        {% for field in filed_certificate.get_initial_form %}
                                                            <div class="form-group row">
                                                                <label class="col-3 col-form-label">{{ field.label }}</label>
                                                                <div class="col-9">{{ field.value }}</div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                    {% if filed_certificate.status == "confirmed" %}
                                                        <div class="modal-footer">
                                                            <a href="" class="col btn btn-primary">Скачать</a>
                                                        </div>
                                                    {% else %}

                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
